[submodule "Frameworks/ReactiveCocoa"]
	path = Frameworks/ReactiveCocoa
	url = git://github.com/ReactiveCocoa/ReactiveCocoa.git
[submodule "Frameworks/ReactiveSwift"]
	path = Frameworks/ReactiveSwift
	url = https://github.com/ReactiveCocoa/ReactiveSwift
